<mat-tab-group class="tabs" [color]="'primary'" [backgroundColor]="'primary'">
    <mat-tab label=" Mes Projet"> 
      
      <nav class="navbar  navapp">
        <div class="container-fluid">
          <form class="navbar-brand" href="#">
            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addprojet"  >
              <img src="../../assets/img/icons8-gestion-de-projet-48.png" alt="">
            </button>
          </form>
          <form class="d-flex" role="search">
            <input type="text" class="form-control" id="validationTooltip01" placeholder="Filtre projet" #filterdata >
          </form>
        </div>
      </nav> 
      <!-- <table class="table">   
        <tr *ngFor="let projet of projets">
          <td>{{projet.titreprojet}}</td>
          <td>{{projet.dateDebutprojet}}</td>
          <td>{{projet.dateFinprojet}}</td>
          <td>{{projet.description}}</td>
          <td><button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#projetitem" (click)="getprojet(projet.idprojet)" >
            <img src="../../assets/img/icons8-management-en-développement-commercial-48.png" class="btnlist" alt="">
          </button></td>
          <td><button class="btn btn-outline-danger">
            <img src="../../assets/img/icons8-supprimer-pour-toujours-48.png" class="btnlist" alt="">
          </button></td>
        </tr>
      </table>   -->

    </mat-tab>
    <mat-tab label="Ticket"> 

        <nav class="navbar  navapp">
            <div class="container-fluid">
              <form class="navbar-brand" href="#">
                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addprojet"  >
                  <img src="../../assets/img/icons8-gestion-de-projet-48.png" alt="">
                </button>
              </form>
              <form class="d-flex" role="search">
                <input type="text" class="form-control" id="validationTooltip01" placeholder="Filtre projet" #filterdata >
              </form>
            </div>
          </nav> 
    </mat-tab>
    
</mat-tab-group>
  
