<div class="eng">
    
    <div class="advance">
  <article>
    <div class="icone">a</div>
   <span>this day</span>
   <p>20%</p>
  </article>
  <article>
    <div class="icone">&tdot;</div>
    <span>this week</span>
    <p>20%</p>
   </article>
   <article>
    <div class="icone">a</div>
    <span>this month</span>
    <p>20%</p>
   </article>
   <article>
    <div class="icone">a</div>
    <span>pending</span>
    <p>20%</p>
   </article>
  </div>
  </div>
<div class="stat">
    <div class="performance">
        <div class="title">
            <div class="tiltlename"><h3>Performance</h3></div>
        <div class="opt"><button>:</button></div>
        </div>
        <div class="pourcent">
            
        </div>
    </div>
    <div class="graph">
      <canvas id="graphuser"   style="width: 50%;"></canvas>
    </div>
</div>

