<nav class="navbar  navapp" *ngIf="cookieValue!=''">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/gmp.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      GMP
    </a>
    <form class="d-flex" role="search">
      <button mat-button color="primary"
      matBadge="8" matBadgePosition="after" width="34" matBadgeColor="accent">
      <img  src="../assets/img/icons8-rappels-de-rendez-vous-96.png" alt="Logo" width="34" height="34" class="d-inline-block align-text-top">
  </button>
      
    </form>
  </div>
</nav>
   <div class="all" *ngIf="cookieValue!=''">
    <header>
        <div class="title">
          <div class="img">
            <img *ngIf="profile.img!=''" src="../assets/uploads/{{profile.img}}"alt="">
            <img *ngIf="profile.img==''" src="../assets/img/icons8-management-en-développement-commercial-48.png"alt="">
          </div>
          <div class="titlename">
            <h2>{{profile.nomuser}}</h2>
            <p>{{profile.prenomuser}}</p>
          </div>
        </div>
<div class="nav">
        <nav>
    <ul>
        <li><a href="Dashbord" *ngIf="true"><img src="../assets/img/icons8-dashboard-layout-48.png" alt="">Dashbord</a></li>
         <li *ngIf="profile.fonction=='admin'"><a href="User" ><img src="../assets/img/icons8-management-en-développement-commercial-48.png" alt="">Personnel</a></li>
         <li *ngIf="profile.fonction=='client'"><a href="Client" ><img src="../assets/img/icons8-enveloppe-cerclée-96.png" alt="">Gestion</a></li>
         <li *ngIf="profile.fonction=='membre projet'"><a href="Tache" ><img src="../assets/img/icons8-tâche-48.png" alt="">Gestion</a></li>
         <li *ngIf="profile.fonction=='admin' || profile.fonction=='chef projet'"><a href="Projet" ><img src="../assets/img/icons8-gestion-de-projet-96.png" alt="">Projet</a></li>
         <li><a href="Chat" ><img src="../assets/img/icons8-bavarder-96.png" alt="">Discussion</a></li>
        <li><a href="Setting"><img src="../assets/img/icons8-service-48.png" alt="">parametre</a></li>
        <li><a href="" (click)="logout()"><img src="../assets/img/icons8-déconnexion-48.png" alt="">deconnexion</a></li>
    </ul>
 </nav>
</div>
    </header>
    <section class="content">
      <router-outlet></router-outlet> 
    </section>
</div>
<div *ngIf="cookieValue==''">
<app-login></app-login>
</div>