<nav class="navbar  navapp">
<div class="container-fluid">
    <div class="navbar-brand" href="#">
      
    </div>
    <form  class="d-flex" role="search"  #dataequipe="ngForm">
      <input type="email" class="form-control" id="inputEmail4" placeholder="Nom equipe" name="nomequipe" required ngModel>
  </form>
  </div>
</nav> 
<table >
    <tr>
        <th>Libeller </th>
        <th>Date Debut</th>
        <th>Date Fin</th>
        <th>Etat</th>
        <th>Projet</th>
        <th>Sprint</th>
    </tr>
    <tr *ngFor="let tache of taches">
        <td> {{tache.titletache}} </td>
        <td> {{tache.dateDebuttache}} </td>
        <td> {{tache.datefintache}} </td>
        <td> <select class="form-select btn btn-outline-primary" id="validationCustom04" name="type" required ngModel>
            <option selected disabled value=""  >{{tache.etattache}} </option>
            <option value="Materiel">A Faire</option>
            <option value="Logiciel">En cours</option>
            <option value="Logiciel">Terminer</option>
          </select></td>
        <td> {{tache.titreprojet}} </td>
        <td> {{tache.titremodule}} </td>
    </tr>

</table>