<div class="Acuiel">
    <div class="option">
    <div class="option_item">
        <div class="icon">
            <img src="../../assets/img/icons8-dashboard-layout-48.png" alt="">
        </div>
        <div class="title"><h3>DashBord</h3></div>
    </div>

    <div class="option_item">
        <div class="icon">
            <img src="../../assets/img/icons8-groupe-d'utilisateurs-homme-femme-48.png" alt="">
        </div>
        <div class="title"><h3>Personnel</h3></div>
    </div>

    <div class="option_item">
        <a href="Projet">
        <div class="icon">
            <img src="../../assets/img/icons8-flipboard-48.png" alt="">
        </div>
        <div class="title"><h3>Projet</h3></div>
    </a>
    </div>
    <div class="option_item">
        <div class="icon">
            <img src="../../assets/img/icons8-service-48.png" alt="">
        </div>
        <div class="title"><h3>parametre</h3></div>
    </div>
</div>
<div class="detaille">
    <div class="det_item">
        <img src="../../assets/img/20945892-removebg-preview.png" alt="">
    </div>
    <div class="services">
        <div class="service">
        <div class="service_item">
            <div class="imgservice">
                <img src="../../assets/img/icons8-dashboard-layout-48.png" alt="">
            </div>
            <div class="title"><h3>SERVICE</h3></div>
        </div>
        <div class="service_item">
            <div class="imgservice">
                <img src="../../assets/img/icons8-dashboard-layout-48.png" alt="">
            </div>
            <div class="title"><h3>SERVICE</h3></div>
        </div>
        <div class="service_item">
            <div class="imgservice">
                <img src="../../assets/img/icons8-dashboard-layout-48.png" alt="">
            </div>
            <div class="title"><h3>SERVICE</h3></div>
        </div>
    </div>
    </div>
</div>
</div>
